endpoint_add_tcp "*removed*"
endpoint_add_udp "*removed*"
exec permissions.cfg

start fire
start dealership
start feds
start Cars
start framework # Core
start core_panel # Core_Essentials
start jobs
start paramedic
start instance # utils
start menu
start phone
start hospital
start identity
start charactercreation
start dmv
start loadscreen
start police
start others
start vehicles
restart police
start houses
start sound
start dealership
start bilar
start fire
start lasd
start mapaddon
start mods
start new

restart sessionmanager
stop maintenance
sv_scriptHookAllowed 0
# change this
rcon_password *removed*

sv_hostname "*removed*"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"
sv_endpointprivacy true
sv_authMaxVariance 1
sv_authMinTrust 5
sv_maxClients 5
sv_master1 ""
set sv_watermark "*removed*"
set mysql_connection_string "server=*removed*;database=*removed*;userid=*removed*;password=*removed*"

sv_licenseKey "0xd49aomzj7nvcy8n7mdi5ockosojmih"
# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000115d1f33f group.admin	#HaxersAlwaysWin